<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to Secret Digital Santa</h1>

  <h2>
    This is the home page for the
    Secret Digital Santa.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

