
<table>
  <thead>
    <tr>
      <th>Exchange</th>
      <th>Giftee</th>
      <th>Your gift</th>
    </tr>
  </thead>

  <tbody>
    <% #debugger %>
    <% @participations.each do |row| %>
      <tr>
        <td><%= link_to row[:exchange].name, row[:exchange] %></td>
        <td>
              <%= render 'participations/gift_entry', participation: row[:participation] %>
            
        </td>
        <td>
          <% #debugger %>
          <% if !row[:exchange].nil? && row[:exchange].closed? %>
            <% if row[:part_as_giftee].nil? || row[:part_as_giftee].gift.nil? %>
              <% #TODO: refer `user to exchange owner %>
              <div>Sorry, there's a problem accessing your gift!</div>
            <% else %>
              <div>Your gift from <%= row[:part_as_giftee].secret_name %>: <span class="input-group form-control"><%= row[:part_as_giftee].gift %></span></div>
              <% end %>
          <% else %>
          <% #TODO: change this text to something not annoying, maybe leave blank? %>
          <div> When the exchange ends, your gift will be here!</div>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
