
<table>
  <thead>
    <tr>
      <th>Exchange</th>
      <th>Giftee</th>
      <th>Your gift</th>
    </tr>
  </thead>

  <tbody>
    <% @participations.each do |p| %>
      <tr>
        <td><%= link_to p.exchange.name, p.exchange %></td>
        <td>
              <%= render 'participations/gift_entry', participation: p %>
            
        </td>
        <td>
          <% if p.exchange.closed? %>
            <% if p.part_as_giftee.nil? || p.part_as_giftee.gift.nil? %>
              <% #TODO: refer user to exchange owner %>
              <div>Sorry, there's a problem accessing your gift!</div>
            <% else %>
              <div>Your gift from <%= p.part_as_giftee.secret_name %>: <span class="input-group form-control"><%= p.part_as_giftee.gift %></span></div>
              <% end %>
          <% else %>
          <% #TODO: change this text to something not annoying, maybe leave blank? %>
          <div> When the exchange ends, your gift will be here!</div>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
