
<table>
  <thead>
    <tr>
      <th>Exchange</th>
      <th>Giftee</th>
    </tr>
  </thead>

  <tbody>
    <% @participations.each do |p| %>
      <tr>
        <td><%= link_to p.exchange.name, p.exchange %></td>
        <td><%= p.get_giftee_secret_name.nil? ? "No Giftee assigned yet" : p.get_giftee_secret_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
