
<table>
  <thead>
    <tr>
      <th>Exchange</th>
      <th>Giftee</th>
      <th>Your gift</th>
    </tr>
  </thead>

  <tbody>
    <% @participations.each do |p| %>
      <tr>
        <td><%= link_to p.exchange.name, p.exchange %></td>
        <td><% if (p.get_giftee_secret_name.nil?) %> 
            <div class="input-group"><div class="input-group-addon"><span>No Giftee assigned yet</span></div></div>
            <% else %>
            <%= render 'participations/gift_entry', participation: p %>
            <% end %>
        </td>
        <td>
          <% if p.exchange.closed? %>
          your gift goes here
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
